{#{% extends 'base.html.twig' %}#}

{#{% block title %}Accueil{% endblock %}#}

{#{% block body %}#}
{# <div>#}
{#     ICI NOUS CREONS DES MOMENTS ETERNELS#}
{# </div>#}
{#    <div>#}
{#        <img src="public/{{ asset('/img/photo_accueil.jpg') }}" alt="photo">#}
{#    </div>#}
{#    <h1>Hello !!</h1>#}

{#    les évents :#}

{#    <p>Tout type de CMS est exclu pour la réalisation de ce site internet. Le site web va être réalisé sur-mesure à l’aide de HTML, CSS, SCSS et JavaScript. Il doit être fonctionnel sur les principaux navigateurs web (Mozilla, Internet Explorer, Chrome, Opera, Safari).#}
{#        Ayant un site déjà existant, nous ne nous occupons pas du nom de domaine ni de l’hébergement..#}

{#        Le site n’a pas besoin d’être connecté à une solution tierce de bases de données puisque nous réalisons un site statique.#}
{#    </p>#}

{#{% endblock %}#}
