{% extends 'base.html.twig' %}
{% block body %}
<h1>
    NOUVEL AN PARIS
</h1>
<div>
    BordeauxBouge vous propose sa sélection pour le réveillon du 31 decembre 2019. Toutes les informations,
    les bons plans, les bonnes adresses et soirées pour fêter le jour de l'an à Paris.
</div>
<h2>
    OÙ SORTIR POUR FÊTER LE NOUVEL AN 2020 À PARIS ?
</h2>
<div>
    Que faire cette année pour le nouvel an Paris ? L'éternelle question que l'on se pose chaque année à l'approche
    du réveillon Paris. Si vous souhaitez sortir à Paris pour le nouvel an 2020 ParisBouge vous propose un grand choix
    d'événements. Des spectacles et soiéees du nouvel an 2019, des idées originales pour fêter la fin de l'année dans un
    restaurant ou un bar branché ? Faites votre choix dans l'agenda du réveillon 2020 à Paris. Vous y trouverez tous les
    bons plans et les soirées du 31 décembre pour la Saint Sylvestre.
</div>
<h2>LE NOUVEL AN, LA SOIRÉE OBLIGATOIRE</h2>
<div>
    Le nouvel an Paris c'est la soirée qu'on ne peut pas esquiver : impossible de rester chez soi devant sa télé, il faut
    absolument trouver une soirée pour fêter le réveillon du nouvel an ! Pour ne pas rater sa soirée nouvel an Paris, ParisBouge
    vous propose un large choix de soirées afin de vous éviter de passer le réveillon Paris dans votre clic-clac avec un plat
    surgelé et un verre de vieux mousseux dégeu. L’équipe de ParisBouge.com référence toutes les soirées du nouvel an. Que vous
    ayez envie d’une soirée dans un bar, d’une soirée clubbing, d’un nouvel an devant un spectacle, au théâtre ou d’une nuit dans
    un cabaret, l’agenda aura de quoi vous satisfaire. A chacun son réveillon sur ParisBouge ! Optez pour la soirée qui vous convient
    à 100% pour bien commencer l’année. Sur une péniche, dans un club, sur fond d’électro, de salsa ou encore de funk, vivez votre
    nouvel an 2020 Paris à fond en piochant dans l’agenda de ParisBouge.com.
</div>
<h1>
    LE RÉVEILLON DU NOUVEL AN SUR LES CHAMPS-ELYSÉES
</h1>
<div>
    Chaque année, Parisiens et touristes se retrouvent sur les Champs-Elysées pour fêter le nouvel an.
    Ce 31 décembre à 23h30, la ville de Paris propose un spectacle de projection d'images sur du l'Arc
    de Triomphe suivi d'un feu d'artifice. Durant des années Paris était la seule grande ville à ne pas avoir son
    feu d'artifice du réveillon.
    Une frustration partagée par beaucoup de parisiens désormais révolue vu que Paris propose depuis plusieurs
    années maintenant un show son et lumière sur l'Arc de triomphe, accompagné d'un feu d'artifice en haut des Champs-Elysées.
    Ca commence à 23H20, jusqu'au passage à la nouvelle année.
</div>
<h2>Nouvel an, nos conseils</h2>
<div>
    Pour que votre soirée nouvel an se passe bien, quelques recommandations : si vous avez plus de questions à poser à propos de la soirée nouvel an, n'hésitez pas à contacter l’infoline que vous trouverez sur la page de la soirée sélectionnée. Pensez à prendre une prévente pour votre soirée nouvel an sur les sites de billetterie dont ParisBouge est partenaire : Digitick, Fnac Spectacles, Placeminute... N’attendez pas la dernière minute pour prendre vos places pour votre soirée nouvel an, les soirées sont souvent complètes quelques jours avant le nouvel an.

    Attention également, chaque année il y a des déçus des soirées nouvel an pleines de promesses, faites attention donc. Une soirée « royale » ou « à gogo » pour quelques dizaines d’euros, ça n’existe pas. Une chose est sûre, vous n’aurez pas de foie gras, de champagne, de croisière sur la Seine ou de feux d’artifice pour 20€… en temps normal déjà, ça n’existe pas, alors encore moins le soir du nouvel an. Ne rêvez pas, les bonnes choses ont un prix, surtout le soir du nouvel an !

    Encore une chose pour réussir votre soirée nouvel an, venez tôt. Le 31, tout le monde veut arriver avant minuit, tout le monde a de gros manteaux car il fait froid et l’attente au vestiaire peut être longue, alors si vous voulez éviter de faire le décompte de la soirée nouvel an entre le vestiaire et les toilettes, ne venez pas à 23h50. Et si vous êtes en voiture, prévoyez beaucoup de temps pour rouler dans Paris le soir du nouvel an, il en est de même pour trouver une place. Privilégiez les VTC et les taxis, surtout pour votre retour si vous avez bu trop de champagne !

    Voilà, il ne nous reste plus qu'à vous souhaiter un bon réveillon du nouvel an !

    L'équipe de ParisBouge
</div>
{% endblock body %}